.container {
  max-width: 900px;
  margin: 0 auto;
}

p {
  color: #666;
  font-size: 16px;
}

.article-header {
  padding-bottom: 30px;
}

.article-pubtime {
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}

.article-body {
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, .header-links, #site-footer  {
  a {
    color: #333;
    text-decoration: none;

    &:hover{
      color:#b3b3b3;
      text-decoration: none;
    }
  }
}

.site-title {
  font-size: 80px;
  font-weight: 700;
}

.header-links {
  font-size: 25px;
}

#site-footer {
  padding-top: 30px;
}

h3 {
  margin: 40px 0 30px 0;
}

.article-body {
  line-height: 200%;
}