<header id="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}">{{ .Site.Title }}</a>
    </h1>
    <p class="pull-right header-links">
      <a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank"><i class="fa fa-rss"></i></a>
      <a href="https://github.com/tyamagu2"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/tyamagu2"><i class="fa fa-twitter"></i></a>
    </p>
  </div>
</header>
