<div class="social">
  <div class="social-button">
    <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
  </div>
  <div class="social-button">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-via="tyamagu2">Tweet</a>
  </div>
</div>
